/*Indigo*/
/*Blue*/
#main-header {
  height: 90vh; }
  #main-header .valign-wrapper {
    height: 100%;
    color: #FFFFFF; }

.btn-start {
  margin-top: -37.5px;
  /*Negative half the height*/
  width: 75px;
  height: 75px; }
  .btn-start i {
    font-size: 3em;
    line-height: 75px; }

.section h3 {
  color: #448AFF; }
