.home {
   
    .work {

        a { //remove link style from cards
            text-decoration: none;
            color: $color-black;
            min-width: 500px;
        }



        &--card {
            margin-bottom: 4rem;
            transition: $transition-bezier;
            transition-duration: 800ms;
            transition-property: all;
            border-radius: 30px;
            background: #fbfbff;
            box-shadow:  10px 10px 40px #dddde0, 
                        -10px -10px 40px #ffffff;
            border: 1px solid #f3f3f7e6;


            &:hover {
                // box-shadow: 0 5px 14px 2px rgba(0, 0, 0, .2);
                // border: solid thin rgba(0, 0, 0, 0);
                box-shadow:  4px 4px 20px #dddde0, 
                            -4px -4px 20px #ffffff;
            }
           
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                min-height: 150px;
                max-height: 250px;
                border-radius: 30px 30px 0 0;
            }

            .details {
                margin-left: 16px;
                position: relative;
                padding: 24px 24px;
                // order: 1;

                h3 {
                    margin: 0;
                    font-size: toRem(24);
                    font-weight: 400;
                }

                .description {
                    font-size: toRem(18);
                    min-width: 100%;

                    &--role {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

}
