.project {

    &--title {
        color: $color-primary;
        padding-bottom: 16px;
        border-bottom: 4px solid $color-primary;
    }

    figure {
        margin: 0;

        figcaption {
            font-size: toRem(16);
            margin-top: -1rem;
            margin-bottom: 2rem;
        }
    }

    img {
        max-width: 100%;
        margin: 2rem 0 2rem 0;
        box-shadow:  4px 4px 20px #dddde0, 
                        -4px -4px 20px #ffffff;
        display: block;
        border-radius: 16px;
        margin-left: auto;
        margin-right: auto;

        &.no-shadow {
            box-shadow: none;
        }
    }


    .img--gallery {
        display: inline-flex;
        flex-wrap: wrap;

        &--item {
            @include list-grid(2);
            img {
                width: 100%;
                display: block;
            }
        }
    }
}
