.home {
    .cover {
        height: 100vh;
        width: 100vw;
        position: relative;

        &--container { //
            width: 100vw;
            height: 150px;
            position: absolute;
            bottom: 0px;

            background: $color-primary;
            text-align: center;

        }
        &--text {
            color: white;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    pre { //my quote :D
        margin-top: 100px;
        text-align: center;
        font-style: italic;
        font-size: toRem(20);
    }

    .portfolio {
        a { //remove link style from cards
            text-decoration: none;
            color: black;
        }

        &--card {
            display: inline-flex;
            padding: 12px;
            margin-bottom: 24px;
            transition: $transition-bezier;
            transition-duration: .8s;

            &:hover {
                box-shadow: 0 5px 14px 2px rgba(0, 0, 0, .4);
            }

            .details {
                flex-grow: 2;
                padding: 0px 16px;
                position: relative;

                h3 {
                    margin-top: 0;
                    margin-bottom: 12px;
                    font-size: toRem(34);
                    font-weight: 200;
                }

                .description {
                    &--role {
                        position: absolute;
                        bottom: 0px;
                    }
                }
            }

            img {
                max-height: 200px;
                max-width: 200px;
                flex-grow: 1;
            }
        }

        // &--title {
        //     position: absolute;
        //     bottom: 0px;
        //     background-color: rgba(255, 255, 255, 0.3);
        //     color: white;
        //     width: 100%;
        //     text-align: center;
        //     padding: 5px 0;
        //     font-size: toRem(30);
        // }
    }

}
