$color-primary: #2642A4;
$transition-bezier: all 0.3s cubic-bezier(.25,.8,.25,1);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: roboto;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-weight: 200;
    font-size: 2.75rem;
    letter-spacing: 2px;
}

h2 {
    font-weight: 200;
    font-size: 1.25rem;
}

@import 'home';
@import 'project';
@import 'nav-bar';
@import 'icons';

.section { //a section of content
    margin-bottom: 100px;

    &--title { //section title
        text-align: center;
        font-weight: 200;
        font-size: 2.25rem;
        margin-bottom: 32px;
        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid black;
            width: 200px;
            margin: 0 auto;
        }
    }

    &--content { //section content
        font-size: 1.45rem;
        line-height: 1.5;
        font-weight: 200;
        width: 100%;

    }
}
