$dark-primary-color : #303F9F; /*Indigo*/
$primary-color      : #3F51B5;
$light-primary-color: #C5CAE9;
$text-icons         : #FFFFFF;
$accent-color       : #2196F3; /*Blue*/
$primary-text       : #212121;
$secondary-text     : #727272;
$dividers           : #B6B6B6;

@import 'materialize/materialize.scss';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

#main-header {
    height: 90vh;
    color: white;
    .valign-wrapper {
        height: 100%;
    }
}

.btn-start {
    $btn-start-dim: 75px;
    margin-top: (($btn-start-dim / 2) * -1); /*Negative half the height*/
    width: $btn-start-dim;
    height: $btn-start-dim;
    i {
        font-size: 3em;
        line-height: $btn-start-dim;
    }
}

.section {
    margin: 2rem 0;

    // &.first {
    //     margin-top: 5rem;
    // }

    .section-content {
        padding: 0 30px;
    }

    h2 {
        color: $accent-color;
        font-size: 2.5rem;
        padding-bottom: 10px;
        border-bottom: 1px solid $dividers;
        margin-bottom: 15px;
        display: inline-block;
    }

    .img-container {
        margin-bottom: 20px;
    }

}

nav  {
    .brand-logo {
        padding-left: 15px; //for some reason it doesn't have padding?

    }

    ul {
        margin-right: 50px;
    }

    .dropdown-content a {
        color: $accent-color;
    }
}

.card {
    .card-content {
        max-height: 200px;
        height: 200px;
        overflow-y: scroll;
    }
}
