$dark-primary-color : #303F9F; /*Indigo*/
$primary-color      : #3F51B5;
$light-primary-color: #C5CAE9;
$text-icons         : #FFFFFF;
$accent-color       : #2196F3; /*Blue*/
$primary-text       : #212121;
$secondary-text     : #727272;
$dividers           : #B6B6B6;

@import 'materialize/materialize.scss';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#main-header {
    height: 90vh;
    color: white;
    .valign-wrapper {
        height: 100%;
    }
}

.btn-start {
    $btn-start-dim: 75px;
    margin-top: (($btn-start-dim / 2) * -1); /*Negative half the height*/
    width: $btn-start-dim;
    height: $btn-start-dim;
    i {
        font-size: 3em;
        line-height: $btn-start-dim;
    }
}

.section {
    h3 {
        color: $accent-color;
    }
}

.card {
    height: 300px;
    .card-content {
        overflow-y: scroll;
    }
}
