body {
	background-color: #6685E0;
	font-family: "verdana", "Tahoma", "sans-serif";
	font-size: 12pt;
}

body, #pagearea, #titlecontact ul{
	margin: 0px;
	padding: 0px;
}

#pagearea{
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 30px 3px black;
	background-color: white;
	padding: 15px;
	overflow: auto;
}

#header h1{
	margin: 0px;
}

#header h2{
	margin-top: 0px;
}

#header img{
	vertical-align: middle;
}

#pagearea, #titlecontact, #photolinkbanner, #contactrecommendation{
	text-align: center;
}

#titlecontact {
	list-style-type: none;
}

#titlecontact ul li {
	display: inline;
	margin: 30px;
}

#contactrecommendation {
	font-size: 13pt;
}

#photolinkbanner{
	height: 158px;
}

hr {
	border: 1px solid #0033CC;
}

#photolinkbanner img, .pics img, #map {
	border: 2px solid #0033CC;
}

#content {
	text-align: left;
}

#equipleft, #equipright {
	float: left;
}

#bigpicture{
	float: right;
	margin: 10px;
	border: 5px solid #0033CC;
}

#allpictures {
	float: left;
	width: 250px;
}

.pics{
	margin: 10px;
	width: 105px;
	height: 105px;
	float: left;
}

.pics img:hover, #photolinkbanner img:hover{
	box-shadow: 0px 0px 0px 2px #0033CC;
	cursor: pointer;
}

#services{
	width: 525px;
}

#map{
	float: right;
	margin-top: 100px;
}

