<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery--2.1.1.min.js"></script>

    <script type="text/javascript" src="public/js/main.js"></script>
    <link rel="stylesheet" href="public/css/main.css">


    <title>Steven Raden</title>
    <meta name="viewport" content="width=device--width, initial--scale=1.0" />

</head>

<body>
    <div class="title section">
        <canvas id="title-animation" width="100" height="100"></canvas>
        <div class="title--container">
            <div class="title--text">
                <h1>Steven Raden</h1>
                <h2>UX Design and Front-End Dev</h2>
            </div>
            <div class="blur"></div>
        </div>
    </div>

    <div class="content">
        <pre class="quote section">
This hour is not my all of time,
this place my all of earth...
And who slays me must overcome a world
-- Wm. Ellery Leonard
        </pre>
        <div class="section">
            <h2 class="section--title">
                About me
            </h2>
            <div class="section--content">
                Dreams are important. Not the dreams you have when sleeping. I’m talking about the dreams you have for your future — the dreams that keep you going — the dreams that make each day worth living.
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                Portfolio
            </h2>
            <div class="section--content section--flex">
                <div class="project--card">
                    <img src="public/assets/test-images/bridge.jpeg" alt="">
                    <div class="project--title">HelpGidget</div>
                    <!-- <div class="blur"></div> -->
                </div>
                <div class="project--card">
                    <img src="public/assets/test-images/dock.jpeg" alt="">
                    <div class="project--title">Project2</div>
                    <!-- <div class="blur"></div> -->
                </div>
                <div class="project--card">
                    <img src="public/assets/test-images/lake.jpeg" alt="">
                    <div class="project--title">SQL Stuff</div>
                    <!-- <div class="blur"></div> -->
                </div>
                <div class="project--card">
                    <img src="public/assets/test-images/orchard.jpeg" alt="">
                    <div class="project--title">Other things</div>
                    <!-- <div class="blur"></div> -->
                </div>
                <div class="project--card">
                    <img src="public/assets/test-images/tree.jpeg" alt="">
                    <div class="project--title">MagicMAn</div>
                    <!-- <div class="blur"></div> -->
                </div>
            </div>
        </div>
    </div>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <filter id="blur">
            <feGaussianBlur stdDeviation="10" />
        </filter>
    </svg>
</body>

</html>
