<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="public/js/main.js"></script>
    <link rel="stylesheet" href="public/css/main.css">


    <title>Steven Raden</title>
    <meta name="viewport" content="width=device--width, initial--scale=1.0" />

</head>

<body class="home">
    <div class="cover">
        <canvas id="cover--animation" width="100" height="100"></canvas>
        <div class="cover--container">
            <div class="cover--text">
                <h1>Steven Raden</h1>
                <h2>UX Design and Front-End Dev</h2>
            </div>
            <div class="blur"></div>
        </div>
    </div>

    <div class="main--content">
        <pre class="quote section">
This hour is not my all of time,
this place my all of earth...
And who slays me must overcome a world
-- Wm. Ellery Leonard
        </pre>
        <div class="section">
            <h2 class="section--title">
                About me
            </h2>
            <div class="section--content">
                <p>
                    Dreams are important. Not the dreams you have when sleeping.
                    I’m talking about the dreams you have for your future — the
                    dreams that keep you going — the dreams that make each day
                    worth living.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 id="portfolio" class="section--title">
                Experience
            </h2>
            <div class="section--content portfolio">
                <!-- IBM Bluemix -->
                <a href="/projects?p=ibm">
                    <div class="portfolio--card">
                        <div class="details">
                            <h3>IBM Design</h3>
                            <div class="description">
                                Working at IBM was my first full-time job out of the University of Washington. I worked designing large products with diverse teams located around the world.
                                <div class="description--role">
                                    <b>Role:</b> Primarily UX Design
                                </div>
                            </div>
                        </div>
                        <img src="public/assets/test-images/bridge.jpeg" alt="Help Gidget - Project Link">
                    </div>
                </a>

                <!-- Help Gidget -->
                <a href="/projects?p=helpgidget">
                    <div class="portfolio--card">
                        <div class="details">
                            <h3>Help Gidget</h3>
                            <div class="description">
                                Gidget is a game designed to teach computer programming concepts through debugging puzzles. Created as a research project by Michael Lee.
                                <div class="description--role">
                                    <b>Role:</b> UX Design/Front-end dev
                                </div>
                            </div>
                        </div>
                        <img src="public/assets/projects/gidget/gidget-tile-image.png" alt="Help Gidget - Project Link">
                    </div>
                </a>

                <!-- What to Eat (WTE) -->
                <a href="/projects?p=wte">
                    <div class="portfolio--card">
                        <div class="details">
                            <h3>What to Eat (WTE)</h3>
                            <div class="description">
                                Gidget is a game designed to teach computer programming concepts through debugging puzzles. Created as a research project by Michael Lee.
                                <div class="description--role">
                                    <b>Role:</b> Front-end dev
                                </div>
                            </div>
                        </div>
                        <img src="public/assets/projects/gidget/gidget-tile-image.png" alt="Help Gidget - Project Link">
                    </div>
                </a>

            </div>
        </div>
    </div>
</body>
</html>
