<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="public/js/main.js"></script>
    <link rel="stylesheet" href="public/css/main.css">


    <title>Steven Raden</title>
    <meta name="viewport" content="width=device--width, initial--scale=1.0" />

</head>

<body class="project">
    <div class="nav-bar">
        <a href="/#portfolio">
            <i class="icon icon--large back-arrow"></i>
            <span>Back to Home</span>
        </a>
    </div>
    <div class="main--content">
        <img class="img--banner" src="public/assets/projects/gidget/gidget-banner.jpg" alt="help gidget banner image">
        <div class="section">
            <h2 class="section--title">
                The Gidget Project
            </h2>
            <div class="section--content">
                <p>
                    <a href="www.helpgidget.org">Help Gidget</a> is a game designed to teach computer programming concepts through debugging puzzles. The project was started by <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/michaeljonglee">Michael Lee</a> for his Ph.D. dissertation and as an opportunity to research new methods of teaching programming through online resources and, more specifically, games. Michael put in enormous amounts of effort to design a game which is gender neutral and engaging to all children.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">The Details</h2>
            <div class="section--content details">
                <!--Length, Role, Tools-->
                <div class="col">
                    <div><b>Time:</b></br> 3 months</div>
                    <div><b>Role:</b></br> Front-end Developer, UX Design</div>
                </div>
                <div class="col">
                    <div><b>Tools:</b></br> Javascript, jQuery, PHP, PostgreSQL, Paper + pen </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                The State of the Project
            </h2>
            <div class="section--content">
                <p>
                    During the Summer of my Junior year (2014) at the University of Washington I, and 2 others, were accepted as Research Assistants for Michael and his Ph.D. project. This was about the third year Michael's project had been in progress and it was to be released by the end of the summer.
                </p>
                <p>
                    The role of the research assistants was to help finish the project in any way we could. This means we were to research, design, develop, and test the game continously throughout the summer. I took the opportunity to focus on <b>UX design</b> and <b>front-end development</b>.
                </p>
                <p>
                    When I came onto the project, the core infrastructure of the game was already in place. The user was able to enter code, run it, progress through levels, log in/out, etc. I focused on front-end development as well as the design of the UI to improve and refine it from just a functional UI to a more enjoyable and easy to use interface. One of the other Assistants took the opportunity to develop more backend infrastructure and to improve the existing code.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                The Contributions
            </h2>
            <div class="section--content">
                Here is an overview of some of the work I did on Gidget over the summer:
                <ul>
                    <li>
                        Transformed the start page from a plain grey box to the more playful UI it is today
                    </li>
                    <li>Created the UI and backend for a user to manage and access custom levels</li>
                    <li>Refined the "Command Dictionary" visuals and interactions</li>
                    <li>
                        Added an improved and interactive tutorial to help explain the UI using
                        <a target="_blank" rel="noopener noreferrer" href="http://www.introjs.com">Intro.js</a>, a lightweight plugin
                    </li>
                    <li>
                        Connected <a target="_blank" rel="noopener noreferrer" href="http://www.answerdash.com/">AnswerDash</a> and created a large list of potential Q&amp;A to quickly help the users if they were ever stuck
                    </li>
                    <li>
                        Refined many other UI elements to provide greater consistency across the game. This includes button design, ordering of positive and negative actions, icon useage, and more.
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">
                The Research
            </h2>
            <div class="section--content">
                <p>
                    By its third year, Gidget had already gone through a significant amount of testing and research. There had been numerous amount of tests on issues of gender neutrality with the characters and the story of the game. Multiple camps had been hosted where middle school students came to both the Oregon State and University of Washington Campus to test out helpgidget.org and to provide feedback.
                </p>
                <p>
                    All of this information was available to the other Research Assistants and I. Mike Lee, our grad student, was also working directly with us and available when we had any questions regarding our core user and what feedback had already been received. All of this helped us to create an informed design with tried and true interactions that were easy for our target audience to understand.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                The Design
            </h2>
            <div class="section--content">
                <p>
                    The design process was relatively unstructured with our ragtag group of research assistants and a grad student. We primarily communicated design ideas through quick discussion, but we also tried to use whiteboards to quickly iterate on rough design sketches. This was particularly useful when I was playing with ideas for the new start screen as well as the interaction for creating and editing player made maps.
                </p>
                <div class="section--image">
                    <img class="img--section" src="public/assets/projects/gidget/gidget-start.png" alt="The help gidget start screen">
                    <img class="img--section" src="public/assets/projects/gidget/gidget-level-selector.png" alt="The help gidget level selector">
                </div>
                <p>
                    I hadn't had many opportunities to work on designing the UI on a project that wasn't for a class. I found this to be a really interesting and informative experience as I had to discover the methods I wanted to use to improve my workflow. Sometimes it
                    was sketching on paper, then creating user flows or wireframes with tools like LucidChart. Ultimately, I learned to spend less time using code to test a design and more time sketching.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                The Development
            </h2>
            <div class="section--content">
                <p>
                    During development, we operated through the use of a private GitHub repository. We were free to make code changes as we saw fit, but were strongly encouraged to complete thorough testing before mergine any branches. We primarily used jQuery to manage the large front-end as well as communicate with the backend which was running a PHP server with a MySQL Database.
                </p>
                <p>
                    The code base was large and difficult to manage because it was handled by a different group of people each year. Though we all wanted to, a code refactor was not to be had due to time constraints. Fortunately, I was able to learn a lot about how other people code and solve their problems. This was one of the greatest learning experiences I had while on the project.
                </p>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">
                The End...
            </h2>
            <div class="section--content">
                <p>
                    By the end of the Summer we were able to experience the release of a product. Michael Lee had multiple contacts from his years of contacting teachers and researchers who could inform him on the Help Gidget project. When we were nearing release Mike contacted all of these people and had them prepare to Tweet, post, share, blog, etc. about the release of helpgidget.org.
                </p>
                <p>
                    The launch went well with no major crashes or issues on the site. We were able to begin collecting user data and seeing how we were able to affect young peoples lives and introduce them into the world of programming. Mike would eventually use this data to inform his thesis and to continue improving the project.
                </p>
                <p>
                    Unfortunately, this was the end of the summer and the other Research Assistants and I were wrapping up our positions with Help Gidget. I hope that helpgidget.org was a strong success and the research was shared and helped teach others how to build a better experience for teaching people to code.
                </p>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">
                The Screenshots
            </h2>
            <div class="section--content">
                <div class="img--gallery">
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-start.png" alt="The help gidget start screen">
                    </div>
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-level.png" alt="The help gidget game level screen">

                    </div>
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-tutorial.png" alt="The help gidget tutorial experience">

                    </div>
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-level-selector.png" alt="The help gidget level selector screen">

                    </div>
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-builder.png" alt="The help gidget level builder screen">

                    </div>
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-dictionary.png" alt="The help gidget in game command dictionary screen">

                    </div>
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-answerdash.png" alt="The help gidget answer dash integration">

                    </div>
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-credits.png" alt="The help gidget creator credits screen">

                    </div>
                </div>
            </div>
        </div>

</body>

</html>
