<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery--2.1.1.min.js"></script>

    <script type="text/javascript" src="public/js/main.js"></script>
    <link rel="stylesheet" href="public/css/main.css">


    <title>Steven Raden</title>
    <meta name="viewport" content="width=device--width, initial--scale=1.0" />

</head>

<body class="project">
    <div class="nav-bar">
        <a href="/#portfolio">
            <i class="icon icon--large back-arrow"></i>
            <span>Back to Home</span>
        </a>
    </div>
    <div class="main--content">
        <h1 class="project--title">

        </h1>
        <div class="section">
            <h2 class="section--title">
                The Gidget Project
            </h2>
            <div class="section--content">
                <p>
                    Gidget is a game designed to teach computer programming concepts
                    through debugging puzzles. The project was started by
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/michaeljonglee">Michael Lee</a>
                    for his Ph.D. dissertation and as an opportunity to research new methods
                    of teaching programming through online resources and, more specifically,
                    games. Michael put in enormous amounts of effort to design a game
                    which is gender neutral and engaging to all children.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                The Games Premise
            </h2>
            <div class="section--content">
                <p>
                    Gidget is a game designed to teach computer programming concepts
                    through debugging puzzles. Gidget the robot was damaged on its
                    way to clean up a chemical spill and save the animals, so it
                    is the players' job to fix Gidget's problematic code to complete
                    all the missions.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                State of the Project
            </h2>
            <div class="section--content">
                <p>
                    During the Summer of my Junior year (2014) at the University of Washington
                    I, and 2 others, were accepted as Research Assistants
                    for Michael and his Ph.D. project. This was about the third year
                    Michael's project had been in progress and it was to be released
                    by the end of the summer.
                </p>
                <p>
                    The role of the research assistants was to help finish the project
                    in any way we could. This means we were to research, design,
                    develop, and test the game continously throughout the summer.
                    I took the opportunity to focus on <b>UX design</b> and
                    <b>front-end development</b>.
                </p>
                <p>
                    When I came onto the project, the core infrastructure of the game
                    was already in place. The user was able to enter code, run it, progress
                    through levels, log in/out, etc. On the backend there were a lot of hacks
                    and inefficiencies in the code, so one of the Research Assistants worked
                    on that while I took the opportunity to improve and refine the front-end
                    from a functional UI to a more enjoyable and easy to use UI.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">
                My Contributions
            </h2>
            <div class="section--content">
                Here is a list of some of the work I did on Gidget over the summer:
                <ul>
                    <li>
                        Transformed the start page from a plain grey box to the
                        more playful UI it is today
                    </li>
                    <li>Created the UI and backend for a user to manage and access custom levels</li>
                    <li>Refined the "Command Dictionary" visuals and interactions</li>
                    <li>
                        Added an improved and interactive tutorial to help explain the UI using
                        <a target="_blank" rel="noopener noreferrer" href="http://www.introjs.com">Intro.js</a>,
                        a lightweight plugin
                    </li>
                    <li>
                        Connected <a target="_blank" rel="noopener noreferrer" href="http://www.answerdash.com/">AnswerDash</a>
                        and created a list of potential Q&amp;A to quickly help the
                        users if they were ever stuck
                    </li>
                </ul>
            </div>
        </div>
</body>

</html>
