<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery--2.1.1.min.js"></script>

    <script type="text/javascript" src="public/js/main.js"></script>
    <link rel="stylesheet" href="public/css/main.css">


    <title>Steven Raden</title>
    <meta name="viewport" content="width=device--width, initial--scale=1.0" />

</head>

<body class="project">
    <div class="nav-bar">
        <a href="/#portfolio">
            <i class="icon icon--large back-arrow"></i>
            <span>Back to Home</span>
        </a>
    </div>
    <div class="main--content">
        <img class="img--banner" src="public/assets/projects/gidget/gidget-banner.jpg" alt="help gidget banner image">
        <div class="section">
            <h2 class="section--title">
                IBM Bluemix - Infrastructure Services
            </h2>
            <div class="section--content">
                <p>
                    Gidget is a game designed to teach computer programming concepts through debugging puzzles. The project was started by <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/michaeljonglee">Michael Lee</a> for his Ph.D. dissertation and as an opportunity to research new methods of teaching programming through online resources and, more specifically, games. Michael put in enormous amounts of effort to design a game which is gender neutral and engaging to all children.
                </p>
                <p>
                    Gidget is designed to teach computer programming concepts through debugging puzzles. Gidget the robot was damaged on its way to clean up a chemical spill and save the animals, so it is the players' job to fix Gidget's problematic code to complete all the missions.
                </p>
            </div>
        </div>
        <div class="section">
            <h2 class="section--title">The Details</h2>
            <div class="section--content details">
                <div class="col">
                    <div><b>Time:</b></br> Sept 2015 - Current</div>
                    <div><b>Role:</b></br> Primarily UX Design</div>
                </div>
                <div class="col">
                    <div><b>Tools:</b> </br> Sketch, FramerJS, Invision Prototyping</div>
                </div>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">
                The Screenshots
            </h2>
            <div class="section--content">
                <div class="img--gallery">
                    <div class="img--gallery--item">
                        <img src="public/assets/projects/gidget/gidget-start.png" alt="The help gidget start screen">
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
