<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="public/js/main.js"></script>
    <link rel="stylesheet" href="public/css/main.css">


    <title>Steven Raden</title>
    <meta name="viewport" content="width=device--width, initial--scale=1.0" />

</head>

<body class="project">
    <div class="nav-bar">
        <a href="/#portfolio">
            <i class="icon icon--large back-arrow"></i>
            <span>Back to Home</span>
        </a>
    </div>
    <div class="main--content">
        <img class="img--banner" src="public/assets/projects/ibm/IBM-banner.jpg" alt="IBM Logo">

        <div class="section">
            <h2 class="section--title">The Details</h2>
            <div class="section--content details">
                <div class="col">
                    <div><b>Time:</b></br> Sept 2015 - Current</div>
                    <div><b>Role:</b></br>User Experience Design, Design Fascilitator, Front-End Developer, User Research</div>
                </div>
                <div class="col">
                    <div><b>Tools:</b> </br> Sketch, Invision, Usertesting.com, Amplitude</div>
                </div>
            </div>
        </div>

        <div class="tab-container">
            <div class="tab">Bootcamp</div>
            <div class="tab">Bluemix</div>
        </div>

        <!--
        <ul>
            <li><a href="">Usual Process</a></li>
            <li><a href="">CDN</a></li>
            <li><a href="">VPN</a></li>
            <li><a href="">SDN</a></li>
            <li><a href="">Security Groups</a></li>
            <li><a href="">Key Protect</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>

    -->

        <div class="section">
            <h2 class="section--title">
                Projects
            </h2>
            <div class="section--content">
                <div class="section--content-project">
                    <h3 id="projects-pi">Bootcamp - Presence Insights</h3>
                    <p>
                        Presence Insights was a project I worked on during the on-boarding phases of IBM, also known as "Design Bootcamp". Our task was to create an enablement tool to help IBM technical sellers better sell a particular IBM product. Our team of 5 was provided a description of the task and access to the development team and project manager, though the course of the project was up to us. After reaching out and talking to IBM technical sellers (users), we compiled the information and created personas, empathy maps, and journey maps. We went through processes to better prioritize the needs of the sellers and what ideas we had that would solve their pain points. After much iteration, divergence and convergence of ideas, we came up with our final solution...(Classified)
                    </p>
                </div>

                <div class="section--content-project">
                    <h3 id="projects-pi">Cloud - Content Delivery Network</h3>
                </div>
                <div class="section--content-project">
                    <h3 id="projects-pi">Cloud - Virtual Private Network</h3>
                </div>
                <div class="section--content-project">
                    <h3 id="projects-pi">Cloud - Software Defined Network</h3>
                </div>
                <div class="section--content-project">
                    <h3 id="projects-pi">Cloud - Security Groups</h3>
                </div>
                <div class="section--content-project">
                    <h3 id="projects-pi">Cloud - Key Protect</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">
                Bootcamp
            </h2>
            <div class="section--content">
                <p>
                    IBM was my first job out of college. As expected, I fell under the title of “Early Career Professional” (ECP). As part of IBM Design's (ECP), roughly 65 other new IBMers and I had to go through a  3 month, 3 part program to be onboarded onto Design Thinking and how to work as an IBM Designer.
                </p>
                <p>
                    The bootcamp was broken into two 6 week sections called “Micro Project” and “Incubator Project”. In between those there was an accessibility project as well. The Micro Project was a fairly loose, blue sky projects where we were instructed on what techniques we should be using and when in order to find a good solution to our problem. The Incubator Project was a more realistic, short-term project that was requested to be completed by other teams in IBM.
                </p>
                <p>
                    I learned a lot of things those 3 months. I learned a more formal process to go from introduction of a project to completion that involved, gathering requirements, working with management, targeting the needs of the user, and finding the WOW of even the most mundane project. But, the thing that stuck with me most and I learned the quickest was how many ways there are of thinking.
                </p>
                <p>
                    In college I worked on teams for almost every course I took, so working with people wasn’t an issue for me. But when I got to IBM and I was put on teams of people from around the world, I was thrown for a loop. I had been surrounded by people who were taught and thought just like me. This first team at IBM showed me that even in the same field, there were many, many ways to approach and tackle a problem. It was a very eye opening experience.
                </p>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">The State of the Project</h2>
            <div class="section--content">
                <p>
                    When I joined the Bluemix Infrastructure team, the Bluemix product was pretty far along. There were plenty of functional services and we were getting more and more users. Unfortunately, the design teams were having to rush and push out designs without a unified and specific design system. This led to frequent inconsistencies across the various Bluemix service which was something none of us wanted.
                </p>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">The First Quarter (ish)</h2>
            <div class="section--content">
                <p>
                    During this time of turmoil on the design teams, I was assigned the design work for the Content Delivery Network (CDN) and Virtual Private Network (VPN) services. Do to the undocumented design specifications at the time I did my best to align with my team on stylings and interactions so that Bluemix as a whole would feel unified.
                </p>
                <p>
                    This was a challenging experience, but also offered up the opportunity to help shape the Bluemix design language as I would run into scenarios that hadn't been handled previously. We would hold weekly "Design Sync" meetings where we would review each others work and pitch any new interactions that we had designed.
                </p>
                <p>
                    Overall, the first months of working on the Infrastructure Design team was a huge growing opportunity that was a great experience for me. I was able see how teams on a large, young, project work and how hard it is to create alignment and direction when so many stakeholders are requiring so many different things. Fortunately, unification was coming for design.
                </p>
            </div>
        </div>

        <div class="section">
            <h2 class="section--title">The Design System</h2>
            <div class="section--content">
                <p>
                    Fortunately for all designers involved on Bluemix, a Design System team was formed and took charge of creating and providing resources for designers and developers to use to create more unified designs across Bluemix. They took the time and resources to interview other designers, such as myself, and to review existing designs to figure out what interactions and elements need to exist.
                </p>
                <p>
                    They took this information and provided all designers with a Sketch design kit that had all the UI elements ready to be pulled into designs as well as example page layouts. Soon to follow was a development kit that would speed up the development process and help to create a unified UI now and into the future, as updates to the UI were as simple as pulling down the updated source code. The effect this had on the design process was huge. We were able to create designs faster and they would be far more unified in appearance and interaction than ever before.
                </p>
                <p>
                    This also allowed our design teams to have a central location to go when requesting feedback and new UI elements. There have been many times where I went to them seeking the best elements to use for my use cases, and we would work together to either create a strong interaction with existing elements or come up with something new. For something new I would usually come up with a rudimentary design which I would detail and send to them for further processing.
                </p>
            </div>
        </div>

</body>

</html>
