/*
Steven Raden 1160995 AA
Building a 15 piece puzzle with features to show which pieces can move
This is the CSS style that modifies the look and style of various elements
*/
body, select, button{
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
}

#puzzlearea{
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	height: 400px;
	position: relative;
}

#winner{
	font-size: 20pt;
	color: red;
	font-weight: bold;
	height: 20pt;
}

.pieces, .active{
	border: 5px solid black;
	width: 90px;
	height: 90px;
	font-size: 40pt;
	float: left;
	position: absolute;
}

.pieces:hover{
	cursor: default;
}

.active:hover{
	color: red;
	border-color: red;
	cursor: pointer;
}