@mixin list-grid($numCol, $gutter: 16px, $vertGutter: 24px) {
    width: calc(#{100 / $numCol}% - (#{$gutter * 2} - (#{$gutter * 2 / $numCol})));
    margin: $vertGutter $gutter;

    position: relative;

    &:nth-child(#{$numCol}n + 1) { //left side margin 0
        margin-left: 0;
    }
    &:nth-child(#{$numCol}n) { //right side margin 0
        margin-right: 0;
    }
}
