html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#fp-nav ul li div.fp-tooltip { /*applies style to nav bar right*/
	color: black;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	top: -10px;
	width: 60px;
	text-align: center;
}

#home {
	position: relative;
	text-align: center;
}

#home #homeColor {
	background-color: green;
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 0;
}

#home h1, #home h2, #home img {
	z-index: 1;
	position: relative;
}

#home img {
	border-radius: 300px;
	margin-bottom: 20px;
}

#home h1 {
	font-size: 50pt;
	margin: 0px;
}

#home h2{
	font-size: 30pt;
	margin: 0px;
}

#about div {
	margin: 0 auto;
	width: 70%;
	font-size: 20pt;
	text-align: center;
}

#about div p {
	margin-bottom:20px;
}