html {
    overflow: auto;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

/*PLUGIN MODIFICATIONS*/
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
}

/*PLUGIN MODIFICATIONS END*/

/*GENERAL ITEMS*/

.sectionTitle, #modalTitle, .item > h1 {
	font-family: "century gothic", arial;
}

.section {
	padding: 1vh 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	position: relative;
	display: table;
}

.section > .row {
    display: table-cell;

    vertical-align: middle;
}


.sectionTitle {
	text-align: center;
	margin-bottom: 20px;
	font-size: 40pt;
}

.sectionTitle:after {
    display: block;

    width: 300px;

    margin: 0 auto;
    padding-top: 5px;

    content: '';

    border-bottom: 1px solid #333333;
}

.linkIcons {
    margin-top: 10px;
}

.linkIcons i {
    font-size: 30pt;

    margin: 0 10px;

    color: white;

    transition: color .2s;
}

.linkIcons i:hover {
	color: rgba(255, 255, 255, .8);
}

#home .sectionTitle:after {
	width: 100%;
}

#contact .sectionTitle:after,
#projects .sectionTitle:after,
#home .sectionTitle:after {
    border-bottom: 1px solid white;
}

.item {
	overflow: hidden;
	position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    cursor: pointer;
    text-align: center;

    color: #333333;
    border: 1px solid #333333;
    border-radius: 3px;
    background-color: white;
}

.item .sneakPeak {
	padding: 15% 5px 5px 5px;
	margin: 0px;
	font-size: 16pt;

	color: white;
	position: absolute;
	bottom: -100%;
	left: 0px;
	background-color: rgba(51, 51, 51, .8);
	height: 100%;
	width: 100%;
	transition: bottom .4s;
}

.item:hover .sneakPeak {
	bottom: 0px;
}

.item img {
    width: 100%;

    border-radius: 3px 3px 0 0;
    transition: box-shadow .2s;
}


.item h1 {
    font-size: 30pt;

    margin-top: 0;
    padding: 10px 0px;

    border-top: 1px solid rgba(60, 60, 60, .3);
}

.content {
    font-size: 13pt;

    display: none;
    overflow: auto;

    max-height: 250px;

    margin: 0 10px;

    text-align: left;
}


#projects,
#contact {
    color: white;
    background-color: #124545;
}

#about,
#experience {
    background-color: #b2cd93; /*#C6EAE5*/
    box-shadow: 0 0 50px 1px #113018 inset;
}

/*GENERAL ITEMS END*/

/*Navigation Bar*/
#navBar {
    color: white;
    position: fixed;
    /* height: 50px; */
    /* top: 0px; */
    width: 100%;
    z-index: 5;
    background-color: blue;
    /* padding: 5px 0px; */
}

#navBar > ul {
    vertical-align: middle;
    /* display: table; */
    margin: 0px;
    padding: 0px;
}

#navBar > ul > li {
    display: table-cell;
    list-style-type: none;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
}

.navBarDesk {

}

.navBarMobile {

}
/* Navigation BAR END */

/*HOME*/

#home {
    height: 95vh;

    text-align: center;

    color: white;
    background-color: #19464D; /*#124545;*/ /*#113018;*/ /*#2B803E;*/
}

#home > img {
	position: absolute;
	max-width: 100%;
}

#home #fireImg {
	bottom: 0px;
}

#home #homeInfo {
    position: relative;
    z-index: 1;
}

#homeInfo img {
	border-radius: 50%;
	margin: 0px auto 20px auto;
	display: block;
	box-shadow: 0px 0px 10px black;
	padding: 0px;
}

#home h1 {
    font-size: 50pt;
    margin: 0;
}

@media (max-width: 1480px) {
	#home h1 {
		font-size: 30pt;
	}
	#home h2 {
	    font-size: 25pt;
	}
}

#home h2 {
    font-size: 25pt;
	margin-top: 10px;
}
/*HOME END*/

/*ABOUT*/

#about #aboutContent {
    font-size: 18pt;

    text-align: center;
    /*max-height: 400px;*/
}

#about div p {
    margin-bottom: 20px;

}

#about a {
    text-decoration: underline;

    color: #333333;

    transition: color .2s;
}

#about a:hover {
	color: rgba(51, 51, 51, .8);
}

/*ABOUT END*/

/*PROJECTS*/
#projects > .row {
    max-height: 500px;
}


/*PROJECTS END*/

/*CONTACT */
#contact input,
#contact textarea {
    margin-top: 10px;
}

#contactButtons div {
    float: right;
}

#contact .contactMessage {
    font-size: 20pt;

    display: none;

    margin-bottom: 10px;

    text-align: center;
}

#contact .contactSuccess {
    color: #b2cd93;
}

#contact .contactError {
    color: #a93430;
}

#contactButtons .linkIcons {
	font-size: 30pt;
    text-align: center;
    float: left;
    margin-top: 0px;
}

#contactButtons .linkIcons a i:first-child {
	margin-left: 0px;
}

/*CONTACT END*/


/* MODAL */


#modalContent #modalHead {
    position: relative;

    border-bottom: 1px solid rgba(60, 60, 60, .3);
}

#modalContent #modalImg {
    overflow: hidden;

    width: 100%;
    height: 100px;

    border-radius: 3px 3px 0 0;
}
#modalContent #modalImg img {
    width: 100%;
}

#modalContent #modalHead button {
    font-size: 30pt;

    position: absolute;
    top: 5px;
    right: 10px;

    outline: 0;
}

#modalContent #modalTitle {
    font-size: 30pt;

    margin: 15px 0;

    text-align: center;
}

#modalContent #modalBody {
	padding: 10px 50px;
	font-size: 13pt;
	max-height: 100vh;
	overflow: auto;
}

#modalContent #modalInfo {
    line-height: 1.5em;

    margin: 20px 0;
}

#modalContent .modalListsTitle {
    border-bottom: 1px solid rgba(60, 60, 60, .3);
}

#modalContent .modalLists div {
    margin: 10px 0;
    padding: 5px inherit;

    text-align: center;

    border-radius: 3px;
    /*border-bottom: 1px solid rgba(60, 60, 60, 0.3);*/

    transition: background-color .2s;
}

#modalContent .modalLists div:hover {
    background-color: rgba(103, 162, 156, .3);
}

#modalContent #modalToolsList div:hover {
    cursor: default;
}

#modalContent #modalToolsGraph {
    position: relative;

    margin-top: 10px;
}

#modalContent #modalToolsGraph div {
    position: relative;
    bottom: 0;
}

#modalContent #modalToolsGraph div div {
    width: 75%;

    margin: 0 auto;

    border-radius: 3px 3px 0 0;
    /*Bar graphs in tools*/
    background-color: rgb(80, 160, 98);
}

#modalContent a {
    text-decoration: none;
}

/* MODAL END*/
